*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Montserrat', sans-serif; font-weight: 700;
}
h2{
    font-family: 'Roboto', sans-serif; font-weight: 500;
}
p{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: white;
}

footer{
    background-color: #27A7DA;
    margin-top: 50px;

}
nav{
    display: flex;
    justify-content: space-evenly;
  
}
nav img{
    height: 50px;
}
.navegador{
    display: flex;
    justify-content: center;
    gap: 120px;
    font-size: 23px;
    list-style: none;
    margin-top: 15px;


}

.lista , .links{
        text-decoration: none;
        color: black;
        list-style: none; 
        
}

.linksTargs{
    text-decoration: none;
    list-style: none;
    padding:   5px;
    color: black;
    border: 1px solid black;
}

.SeccionTarjetas{
    display: flex;
    justify-content: space-evenly;
    
}


.Tarjetas{
    background-color: white;
    width: 330px;
    height: 520px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    margin-top: 30px;

}
.Tarjetas img{
    width: 327px;
    height: 200px;
}
.Tarjetas p{
    padding: 15px;
    font-size: 16.5px;
}
.Video{
    display: flex;
    justify-content: center;
    margin-left: 475px;
    background-color: #27A7DA;
    width: 600px;
    height: 400px;
    border-radius: 10px;
}
.Video iframe{
    border-radius: 10px;
    margin-top: 35px;

}
.SobreNosotros{
    
    padding: 30px;
    border-radius: 8px;
    width: 1200px;
    margin-left: 10px;
    margin-top: 50px;
    line-height: 30px;
    gap: 10px;
}
.SobreNosotros p{
    margin-bottom: 20px;
}

.copy{
display: flex;
justify-content: center;
}
.ContenedorFooter{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.ContenedorPresentacion{
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 25px;
    background-color: #cbcbd4;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);

}
.ContenedorPresentacion p{
    margin-bottom: 15px;
}
.Foros1, .Foros2
{
    display: flex;
    justify-content: center;
}

.ContenedorDetalleSerie
{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 50px;

}
.DetalleSerie
{
    background-color: #cbcbd4;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    width: 330px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);


}

.DetalleSerie h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.DetalleSerie ul li{
    list-style: none;
margin-bottom: 15px;    
}

.DetalleSerie img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
}
.InfoContenedorPresentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 150px;
        width: 600px;
    }
}
.ContenedorRanking{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #cbcbd4; /* dedee2*/
    margin-top: 50px;
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);

    h2{
        margin-bottom: 25px;
    }
}



.posicion{
    height: 125px;
    display: flex;
    gap: 75px;
    margin-bottom: 20px;
    background-color: #27A7DA ;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);

    div{
        display: flex;
        gap: 50px;
    }
    img{
        width: 150px;
        height: 100px;
        margin-left: 25px;
        margin-top: 10px;
    }
    .RankingPeliculas{
        align-items: center;
        margin-bottom: 50px;
    }
    .ContenedorRanking h2:first-of-type {
        margin-top: 0;
    }


.fotoRanking{
    height: 100px;
    width: 150px;
}
.formulario
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    
}
}
.Contenedorformulario{
    padding: 1.5em;
    h1{
        text-align: center;
        font-size: 3em;
    }
}

.Formulario{
    margin-top: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    padding: 1em;
}  
.formularioContacto{
    background-color: #cbcbd4;
     
} 
.formularioContacto form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}  
.formularioContacto form p
{
    padding: 1em;
}

.formularioContacto form .block
{
    grid-column: 1 / 3;
}

.formularioContacto button, .formularioContacto input, .formularioContacto textarea
{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #27A7DA;
}

.formularioContacto form button
{
    background-color: #27A7DA;
    border: none;
    text-transform: uppercase;
    padding: 1em;
}

.InfoFormulario{
    background-color: #27A7DA;
}
.formularioContacto button:hover , .formularioContacto button:focus
{
    background: #32b1e3;
    transition: background-color 1s ease-out;
    outline: 0;
}

.InfoFormulario h2, .InfoFormulario ul, .InfoFormulario p
{
    text-align: center;
    margin-bottom: 1rem;
}
.InfoFormulario ul{
    list-style: none;
}
.InfoFormulario ul li {
    padding: .3em;
}
.InfoFormulario ul li iframe{
    width: 200px;
    height: 150px;
}

@media (min-width: 700px)
{
    .Formulario{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .Formulario > *{
        padding: 2em;
    }
    .InfoFormulario h2, .InfoFormulario ul, .InfoFormulario p
    {
        padding: 1em;
        text-align: left;
    }
}
@media(max-width: 700px)
{

    .SeccionTarjetas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .SobreNosotros{
    
        padding: 30px;
        border-radius: 8px;
        width: 475px;
        margin-left: 10px;
        margin-top: 50px;
        line-height: 30px;
        gap: 10px;
    }
    .SobreNosotros p{
        margin-bottom: 20px;
    }
}
.ContenedorFooter img{
    margin-top: 50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}